<div class='c-widget'>
  <ul class='c-social-icons o-plain-list'>
    {{#if @site.twitter}}
    <li class='c-social-icons__item'>
      <a href='{{ twitter_url }}' aria-label='Twitter' target='_blank' rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-sc-twitter' data-size='s'></span>
      </a>
    </li>
    {{/if}}

    {{#if @site.facebook}}
    <li class='c-social-icons__item'>
      <a href='{{ facebook_url }}' aria-label='Facebook' target='_blank' rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-sc-facebook' data-size='s'></span>
      </a>
    </li>
    {{/if}}

    <li class='c-social-icons__item'>
      <a href='https://www.linkedin.com/company/the-political-economy-of-everything/' aria-label='LinkedIn' target='_blank' rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
      </a>
    </li>

    <li class='c-social-icons__item'>
      <a href='https://www.thepoliticaleconomyofeverything.com/contact' aria-label='Contact' target='_blank'
        rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-envelope' data-size='s'></span>
      </a>
    </li>
  </ul>
</div>